/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px ;
}
/* Home section  */
#home{
    height: 370px;
    padding: 2px 60px;
}
#home::before{
    height: 370px;
    
}

#home p{
    font-size: 20px;
}
/* Services section  */
#services{
    flex-direction: column;
}
#services .box{

}

/* client section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    height: auto;
    width: auto;
}
/* Contact us section */

/* footer  */

/* utility classes */
.h primary{
    font-size: 26px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}